body>.container {
    margin-top: 10%;
    font-size: 1.25em;
    letter-spacing: .02em;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em !important;
}

p {
    color: white;
}

a[href^="http:"]:hover {
    color: #26a69a !important;
}

.temp {
    display: none;
}

.myGreen {
    color: #26a69a;
}